:root {
  --text-base: #afb6c2;
  --text-title: #d4ccb6;
  --background: #191816;
  --form-background: #24221f;
  --primary-color: #ffc632;
}
* {
  margin: auto;
  color: #afb6c2;
  box-sizing: border-box;
}
body {
  background: #191816;
  width: 100%;
  max-width: 100rem;
}
.container {
  display: flex;
}
#box_logo {
  margin-bottom: 200px;
  margin-left: 20px;
}
form {
  background: #24221f;
  margin: 80px;
  padding: 70px;
}
h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #d4ccb6;
}
.login {
  display: flex;
  float: left;
  gap: 1rem;
}
.info {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
}
#box_span1 {
  margin-bottom: 30px;
}
.input_login {
  padding: 10px;
  display: flex;
  float: left;
  border: 1px solid #afb6c2;
  gap: 0.3rem;
  border-radius: 4px;
  margin-bottom: 15px;
}
.input {
  background: #24221f;
  border: 0;
  outline: none;
}
.input_login:hover {
  border: 1px solid #ffc632;
}
::placeholder {
  font-family: "Poppins", sans-serif;
}
#box_checked {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  display: flex;
  gap: 0.5rem;
}
#remember-me {
  display: flex;
  float: left;
  gap: 3.2rem;
  margin-top: -0.9rem;
  width: 100;
}
#checked #checkbox {
  cursor: pointer;
}
#remember-me div a {
  color: #ffc632;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: 500;
  text-decoration: none;
}
#remember-me div a:hover{
  opacity: 0.8;
}
button {
  width: 285px;
  border-radius: 5px;
  background: #ffc632;
  border: 0;
  color: black;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 17px;
  padding: 13px;
}
button:hover{
  opacity: 0.8;
  cursor: pointer;
}
#create_account {
  text-align: center;
  padding: 15px;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
}
#create_account span {
  color: #ffc632;
  text-decoration: none;
}
#create_account a {
  color: #ffc632;
  text-decoration: none;
  font-weight: 700;
}
#create_account a:hover{
  opacity: 0.8;
}
/* ---CUSTOMIZING CHECKBOX--- */

input[type="checkbox"] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  appearance: none;
  /* For iOS < 15 to remove gradient background */
  background-color: transparent;
  /* Not removed via appearance */
  margin: 0;
  font: inherit;
  color: #afb6c2;
  width: 1.15em;
  height: 1.15em;
  border: 0.1em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);
}
input[type="checkbox"] {
  /* ...existing styles */
  display: grid;
  place-content: center;
  float: left;
}
input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 120ms;
  box-shadow: inset 1em 1em var(--form-control-color);
}
input[type="checkbox"]:checked::before {
  transform: scale(1);
}
input[type="checkbox"]::before {
  /* ...existing styles */
  /* Windows High Contrast Mode */
  background: #ffc632;
  transform-origin: bottom left;
}
  /*-----------*/

main {
  flex-basis: 50%;
}
